[submodule "libclangmm"]
	path = libclangmm
	url = https://github.com/cppit/libclangmm
[submodule "tiny-process-library"]
	path = tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
