<ui>                                                   
  <menubar name='MenuBar'>                            
    <menu action='FileMenu'>                        
      <menuitem action='FileNewFile'/>
      <menuitem action='FileOpenFile'/>
      <menuitem action='FileOpenFolder'/>
      <menuitem action='FileSave'/>
      <menuitem action='FileSaveAs'/>
      <separator/>                               
      <menuitem action='FileQuit'/>               
    </menu>                                         
    <menu action='EditMenu'>                        
      <menuitem action='EditCopy'/>               
      <menuitem action='EditCut'/>                
      <menuitem action='EditPaste'/>              
      <separator/>                               
      <menuitem action='EditFind'/>
      <menuitem action='EditUndo'/>
      <menuitem action='EditRedo'/>
    </menu>                                         
    <menu action='ProjectMenu'>                      
      <menuitem action='ProjectCompileAndRun'/>         
      <menuitem action='ProjectCompile'/>      
    </menu>
    <menu action='WindowMenu'>                      
      <menuitem action='WindowCloseTab'/>         
      <menuitem action='WindowSplitWindow'/>      
    </menu>                                         
    <menu action='PluginMenu'>                            
    </menu>                                         
    <menu action='HelpMenu'>                        
      <menuitem action='HelpAbout'/>              
    </menu>                                       
  </menubar>                                          
</ui>                                                  
